@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap");
@import url("./common.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@800&display=swap");
html {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #EEEDEB;
}

.pg1 {
  height: 650px;
}
.pg1 p {
  margin-left: 41%;
  margin-top: 120px;
}
.pg1 p img {
  width: 300px;
  height: 55px;
}
.pg1 .txt h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  color: #ebebeb;
  white-space: nowrap;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding-top: 100px;
}
.pg1 .txt p {
  margin-left: 22%;
  transform: translateY(-350px);
}
.pg1 .txt p img {
  width: 170px;
  height: 170px;
}
.pg1 .txt .tt {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #222;
  text-align: center;
  transform: translateY(-250px);
}
.pg1 .txt .mini {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFAD00;
  text-align: center;
  transform: translateY(-240px);
}
.pg1 .txt .btm {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #222;
  text-align: center;
  transform: translateY(-230px);
}

.pg2 img {
  width: 100%;
}

.pg3 img {
  width: 100%;
}

.pg4 img {
  width: 100%;
}

.pg5 img {
  width: 100%;
}

.pg13 {
  width: 100%;
  height: 340px;
  background-color: #fff;
  position: relative;
}
.pg13 .sq {
  text-align: center;
}
.pg13 .sq h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 25px;
  position: absolute;
  left: 29%;
  top: 35%;
  z-index: 99;
}
.pg13 .sq div {
  position: absolute;
  left: 29%;
  top: 30%;
  z-index: 1;
}
.pg13 .sq div img {
  width: 830px;
  height: 73px;
}
.pg13 p {
  text-align: center;
  padding-top: 220px;
}

.sticky {
  margin-left: 95%;
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 99;
}
.sticky .p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #222;
  position: relative;
}
.sticky .p > a {
  text-decoration: none;
  color: #222;
}
.sticky .p > div {
  width: 100px;
  display: none;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 25%;
  transition: 0.5s;
}
.sticky .p > div > a {
  color: #FFAD00;
}
.sticky .p:hover > div {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #FFAD00;
  transform: translateX(-30px);
}
.sticky > p > img {
  padding-left: 10px;
}
.sticky .n {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #222;
  position: relative;
}
.sticky .n > a {
  text-decoration: none;
  color: #222;
}
.sticky .n > div {
  width: 100px;
  display: none;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 25%;
  transition: 0.5s;
}
.sticky .n > div > a {
  color: #FFAD00;
}
.sticky .n:hover > div {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #FFAD00;
  transform: translateX(-30px);
}

.ftr {
  width: 100%;
  height: 340px;
  background-color: #fff;
  position: relative;
  margin-bottom: 0%;
}
.ftr .up h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-left: 270px;
  padding-top: 80px;
}
.ftr .up .link {
  margin-left: 270px;
  margin-top: 30px;
}
.ftr .up .link a {
  width: 12%;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
}
.ftr .up .link a:nth-child(3) {
  padding-left: 20px;
}
.ftr .up .link a:nth-child(4) {
  padding-left: 60px;
}
.ftr .up .arw {
  position: absolute;
  right: 10%;
}
.ftr .up .arw img {
  width: 180px;
  height: 100px;
}
.ftr .dwn {
  margin: 50px 0 0 268px;
}/*# sourceMappingURL=sub4.css.map */